*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    background-color: rgba(219, 150, 219, 1);
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    align-content: center;
}

.container{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    display: inline-block;
    width: 50%
}

h1.titulo{
    text-align: center;
    color: purple;
    margin-bottom: 6px;
    border-bottom: solid 2px white;
    margin-bottom: 30px;
    text-decoration: none;
}


h3{
    Color: rgb(97, 33, 97);
}

.imagem{
width: 50%;

}

.conteudo{
    color: white;
    text-align:justify;
}

.footer{
    text-align: right;
    margin-right: 20px;
    margin-top: 50px;
    text-align-last: right;
    margin-bottom: 20px;
}

.footer a{
    color: white;
    background-color: purple;
    border-radius: 20px;
    padding: 10px;
}

img{
    align-items: center;
    margin-bottom: 60px;
    width: 700px;
}

iframe{
    margin-top: 20px;
margin-left: 260px;
border: solid 15px purple;
border-radius:10px
}

